<!-- Collapsibles Component -->

<div class="collapsible collapsible--expanded">
  <!-- Header Section -->
  <header class="collapsible__header">
    <h2 class="collapsible__heading">Item1</h2>
    <!-- Icons Component -->
    <img src="icons/chevron.svg" alt="" class="collapsible__icon" />
  </header>

  <!-- Content Section -->
  <div class="collapsible__content">
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Qui, magnam.
  </div>
</div>

<!-- Adding JS code to implement collapsing feature -->
<script src="js/main.js"></script>
