<!-- Domain Block Component -->
<section class="block container block-domain">
  <header class="block__header">
    <!-- adding a heading -->
    <h2>Starting at $9 per month.</h2>
    <!-- adding a paragraph -->
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ab, dignissimos!
    </p>
    <!-- Inputs group Component -->
    <div class="input-group">
      <input
        type="text"
        class="input"
        placeholder="Enter domain name here..."
      />
      <!-- adding a button with a search icon -->
      <button class="btn btn-accent">
        <svg class="icon icon--white">
          <use xlink:href="images/sprite.svg#search"></use>
        </svg>
        Search
      </button>
    </div>
  </header>

  <!-- adding ul list items via 2x3 grid -->
  <ul class="list block-domain__prices">
    <span class="badge badge--secondary block-domain__badge">
      <li>.com $9</li>
    </span>
    <li>.sg $10</li>
    <li>.space $11</li>
    <li>.info $14</li>
    <li>.net $10</li>
    <li>.xyz $10</li>
  </ul>
</section>
