<!-- footer component -->

<footer class="block block--darker footer">
  <!-- adding a container for grid to insert collapsibles -->

  <div class="container grid footer__sections">
    <!-- Collapsibles Component -->

    <!-- adding 1st section in our footer -->
    <section class="collapsible collapsible--expanded footer__section">
      <!-- Header Section -->
      <header class="collapsible__header">
        <h2 class="collapsible__heading footer__heading">Products</h2>
        <!-- Icons Component -->
        <img src="icons/chevron.svg" alt="" class="collapsible__icon" />
      </header>

      <!-- Content Section -->
      <div class="collapsible__content">
        <ul class="list">
          <li><a href="#">Website Hosting</a></li>
          <li><a href="#">Free Automated Wordpress</a></li>
          <li><a href="#">Migrations</a></li>
        </ul>
      </div>
    </section>
    <!-- end of 1st collapsible section -->

    <!-- adding 2nd section in our footer -->
    <section class="collapsible footer__section">
      <!-- Header Section -->
      <header class="collapsible__header">
        <h2 class="collapsible__heading footer__heading">Company</h2>
        <!-- Icons Component -->
        <img src="icons/chevron.svg" alt="" class="collapsible__icon" />
      </header>

      <!-- Content Section -->
      <div class="collapsible__content">
        <ul class="list">
          <li><a href="#">About</a></li>
          <li><a href="#">Affiliates</a></li>
          <li><a href="#">Blog</a></li>
        </ul>
      </div>
    </section>
    <!-- end of 2nd collapsible section -->

    <!-- adding 3rd section in our footer -->
    <section class="collapsible footer__section">
      <!-- Header Section -->
      <header class="collapsible__header">
        <h2 class="collapsible__heading footer__heading">Support</h2>
        <!-- Icons Component -->
        <img src="icons/chevron.svg" alt="" class="collapsible__icon" />
      </header>

      <!-- Content Section -->
      <div class="collapsible__content">
        <ul class="list">
          <li><a href="#">Contact</a></li>
          <li><a href="#">Knowledge Base</a></li>
          <li><a href="#">FAQ</a></li>
        </ul>
      </div>
    </section>
    <!-- end of 3rd collapsible section -->

    <!-- adding 4th section in our footer -->
    <section class="collapsible footer__section">
      <!-- Header Section -->
      <header class="collapsible__header">
        <h2 class="collapsible__heading footer__heading">Domains</h2>
        <!-- Icons Component -->
        <img src="icons/chevron.svg" alt="" class="collapsible__icon" />
      </header>

      <!-- Content Section -->
      <div class="collapsible__content">
        <ul class="list">
          <li><a href="#">Domain Checker</a></li>
          <li><a href="#">Domain Transfer</a></li>
          <li><a href="#">Free Domian</a></li>
        </ul>
      </div>
    </section>
    <!-- end of 4th collapsible section -->

    <!-- adding a section for brand logo and copyrights -->
    <section class="footer__brand">
      <img src="images/logo.svg" alt="" />
      <p class="footer__copyright">Copyright 2024 MZK Services</p>
    </section>
    <!-- end of branding section -->
  </div>
  <!-- end of grid container -->
</footer>
<!-- end of footer section -->

<!-- Adding JS code to implement collapsing feature -->
<script src="js/main.js"></script>
