<!-- Navigation Bars -->
<nav class="nav collapsible collapsible--expanded">
  <!-- Adding a logo -->
  <a href="/" class="nav__logo">
    <img src="images/logo.svg" alt="" />
  </a>
  <!-- adding a menu icon as a toggler -->
  <svg class="icon icon--white nav__toggler">
    <use xlink:href="images/sprite.svg#menu"></use>
  </svg>
  <!-- adding a list of links -->
  <ul class="list nav__list collapsible__content">
    <li class="nav__item"><a href="#">Hosting</a></li>
    <li class="nav__item"><a href="#">VPS</a></li>
    <li class="nav__item"><a href="#">Domain</a></li>
    <li class="nav__item"><a href="#">Pricing</a></li>
  </ul>
</nav>

<script src="js/main.js"></script>
