<!-- Plans Block Component -->
<section class="block container block-plans">
  <!-- adding a grid of 1x3 -->
  <div class="grid grid--1x3">
    <!-- adding th 1st plan item which is not a popular one -->

    <!-- Cards Component -->
    <div>
      <div class="plan">
        <div class="card card--secondary">
          <header class="card__header">
            <h3 class="plan__title">Entry</h3>
            <span class="plan__price">$14</span>
            <span class="plan__billing-cycle">/month</span>
            <span class="badge badge--secondary badge--small">10% OFF</span>
            <span class="plan__description">Easy Start on the Cloud</span>
          </header>

          <div class="card__body">
            <!-- Lists Component -->
            <ul class="list list--tick">
              <li class="list__item">Unlimited Websites</li>
              <li class="list__item">Unlimited Bandwidth</li>
              <li class="list__item">100 GB SSD Storage</li>
              <li class="list__item">3 GB RAM</li>
            </ul>

            <button class="btn btn--outline btn--block">Buy Now</button>
          </div>
        </div>
      </div>
    </div>

    <!-- adding the 2nd plan item which is popular -->

    <!-- Cards Component -->

    <div>
      <div class="plan plan--popular">
        <div class="card card--primary">
          <header class="card__header">
            <h3 class="plan__title">Entry</h3>
            <span class="plan__price">$14</span>
            <span class="plan__billing-cycle">/month</span>
            <span class="badge badge--primary badge--small">10% OFF</span>
            <span class="plan__description">Easy Start on the Cloud</span>
          </header>

          <div class="card__body">
            <!-- Lists Component -->
            <ul class="list list--tick">
              <li class="list__item">Unlimited Websites</li>
              <li class="list__item">Unlimited Bandwidth</li>
              <li class="list__item">100 GB SSD Storage</li>
              <li class="list__item">3 GB RAM</li>
            </ul>

            <button class="btn btn--outline btn--block">Buy Now</button>
          </div>
        </div>
      </div>
    </div>

    <!-- adding the 3rd plan item which is not a popular plan -->

    <!-- Cards Component -->

    <div>
      <div class="plan">
        <div class="card card--secondary">
          <header class="card__header">
            <h3 class="plan__title">Entry</h3>
            <span class="plan__price">$14</span>
            <span class="plan__billing-cycle">/month</span>
            <span class="badge badge--secondary badge--small">10% OFF</span>
            <span class="plan__description">Easy Start on the Cloud</span>
          </header>

          <div class="card__body">
            <!-- Lists Component -->
            <ul class="list list--tick">
              <li class="list__item">Unlimited Websites</li>
              <li class="list__item">Unlimited Bandwidth</li>
              <li class="list__item">100 GB SSD Storage</li>
              <li class="list__item">3 GB RAM</li>
            </ul>

            <button class="btn btn--outline btn--block">Buy Now</button>
          </div>
        </div>
      </div>
    </div>
    <!-- end of all three plan items in this grid -->
  </div>
</section>
