<!-- Testimonial Block Component completed -->
<section class="block">
  <!-- header for testimonial component -->
  <header class="block__header">
    <h2 class="block__heading">What our Customers are Saying</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde, accusamus.
    </p>
  </header>

  <!-- adding testimonial component for this component -->

  <div class="container">
    <!-- Testimonials Component -->
    <div class="card testimonial">
      <div class="grid grid--1x2">
        <div class="testimonial__image">
          <img
            src="images/testimonial.jpg"
            alt="A happy, smiling face customer!"
          />

          <!-- Icons Component -->
          <span class="icon-container icon-container--accent">
            <svg class="icon icon--white icon--small">
              <use xlink:href="images/sprite.svg#quotes"></use>
            </svg>
          </span>
        </div>

        <!-- Quotes Component -->
        <blockquote class="quote">
          <p class="quote__text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam
            eaque suscipit tempore atque asperiores sit autem, neque repellat
            velit accusamus.
          </p>

          <footer>
            <!-- Media Object Component -->
            <div class="media">
              <div class="media__image">
                <!-- Icons Component -->
                <svg class="icon icon--primary quote__line">
                  <use xlink:href="images/sprite.svg#line"></use>
                </svg>
              </div>

              <div class="media__body">
                <h3 class="media__title quote__author">Mian Zeeshan Khaliq</h3>
                <p class="quote__company">MZK Services</p>
              </div>
            </div>
          </footer>
        </blockquote>
      </div>
    </div>
    <!-- end of card for testimonial component -->
  </div>
  <!-- end of testimonial container -->
</section>
<!-- end of testimonial component -->
